################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/am22ej_final_project/FileContentIndex
/.vs/am22ej_final_project/v17
/.vs/am22ej_final_project2/FileContentIndex/5ee93cde-eaa8-4996-9742-4384cb2a357d.vsidx
