################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/am22ej_final_project/FileContentIndex
/.vs/am22ej_final_project/v17
